---
const { title, favicon, description, keywords } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="robots" content="index, follow" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
